/*== Variáveis ==*/
:root {
  /*========== Colors ==========*/
  /* Change favorite color to match images */
  /*Green dark 190 - Green 171 - Grren Blue 200*/
  --hue-color: 190;

  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 64%, 22%);
  --first-color-second: hsl(var(--hue-color), 64%, 22%);
  --first-color-alt: hsl(var(--hue-color), 64%, 15%);
  --title-color: hsl(var(--hue-color), 64%, 18%);
  --text-color: hsl(var(--hue-color), 24%, 35%);
  --text-color-light: hsl(var(--hue-color), 8%, 60%);
  --input-color: hsl(var(--hue-color), 24%, 97%);
  --body-color: hsl(var(--hue-color), 100%, 99%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 75%);
  --white: hsl(0, 0%, 100%);
  --gray100: rgb(225, 225, 230);
  --gray200: rgb(196, 196, 204);
  --gray600: rgb(50, 50, 56);
  --gray800: rgb(32, 32, 36);
  --black2: rgb(18, 18, 20);

  /*== Font and typography ==*/
  --bodyFont: 'Roboto', sans-serif;
  --h1FontSize: 1.5rem;
  --bodyFontSize: 0.875rem;
  --bigFontSize: 1rem;

  /*========== Font weight ==========*/
  --fontNormal: 400;
  --fontBold: 700;

  /*========== Margenes Bottom ==========*/
  --mb0-25: 0.25rem;
  --mb0-5: 0.5rem;
  --mb0-75: 0.75rem;
  --mb1: 1rem;
  --mb1-25: 1.25rem;
  --mb1-5: 1.5rem;
  --mb2: 2rem;
  --mb2-5: 2.5rem;
  --mb4: 4rem;

  /*========== z index ==========*/
  --z0: 0;
  --z1: 1;
  --z2: 10;
  --z3: 100;

  /*========== Hover overlay ==========*/
  --img-transition: 0.3s;
  --img-hidden: hidden;
  --img-scale: scale(1.1);
}

/*
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}
*/

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: var(--bodyFont);
  -webkit-font-smoothing: antialiased;
}
body {
  /*
  display: grid;
  place-items: center;
  */
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  background: var(--gray800);
  width: 100vw;
  height: 100vh;
}
main::before {
  content: '';
  position: absolute;
  background: url(../images/poligon.svg) no-repeat center/cover;
  width: 100vw;
  min-height: 812px;
  animation: slideDown 2s;
}
.container {
  max-width: 260px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.avatar {
  width: 10rem;
  margin: 11.5rem auto 1.5rem;
  position: relative;
  /*animation: rotateAvatar 5s;*/
}
.photo {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
.stamp {
  position: absolute;
  top: -15px;
  left: 0px;
  animation: rotateStamp 10s linear infinite;
}
h1 {
  font-weight: 700;
  color: var(--gray100);
  margin-bottom: var(--mb0-5);
  font-size: var(--h1FontSize);
  line-height: 1.5rem;
}
a.gitHub {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  color: var(--gray200);
  font-size: var(--bigFontSize);
  font-weight: var(--fontNormal);
  line-height: 1.875rem;
  margin-bottom: var(--mb2);
  text-decoration: none;
}
a.gitHub:hover {
  text-decoration: underline;
}
p {
  color: var(--gray100);
  margin-bottom: var(--mb4);
  font-size: var(--bodyFontSize);
  font-weight: var(--fontNormal);
  line-height: 1.625rem;
}
ul {
  display: flex;
  list-style: none;
  gap: var(--mb0-5);
  justify-content: center;
}
ul a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gray600);
  width: 48px;
  height: 48px;
  border-radius: 6px;
  box-shadow: 0px 2px 24px -8px rgba(1, 0, 8, 0.5);
}
ul a:hover {
  background: linear-gradient(135deg, rgba(255, 0, 142, 1) 20%, rgba(255, 205, 30, 1));
}

/*== Animações ==*/
/*.div {
  animation: avatar 5s linear 2s infinite alternate;
}
@keyframes rotateAvatar {
  from {
    transform: scale(0, 0) rotate(-360deg);
  }
  to {
    transform: scale(1,1) rotate(0deg);
  }
}*/
@keyframes rotateStamp {
  from {
    transform: rotate(360deg);
  }
  to {
    transfom: rotate(0deg);
  }
}
@keyframes slideDown {
  from {
    top: -100%;
  }
  to {
    top: 0%;
  }
}
@keyframes balanceSide {
  from {
    transform: translateX(-200px);
  }
  to {
    transform:  translateX(0px);
  }

  /*
  matrix(0.866,0.5,-0.5,0.866,0,0);
  0% {
    transform: rotateY(90deg);
  }
  25% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  75% {
    transform: rotateY(0deg);

  }
  100% {
    transform: rotateY(90deg);
  }
  */
}

/*== Responsividade ==*/
@media (min-width: 720px) {
}
@media (min-width: 960px) {
  body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: url(../images/background-desktop.svg) no-repeat center/cover;
    width: 100vw;
    min-height: 820px;
    height: 100vh;
  }
  main {
    background: var(--gray800);
    margin-top: 8.75rem;
    width: 358px;
    min-height: 540px;
    height: 640px;
    z-index: var(--z1);
    border-radius: 6px;
    animation: balanceSide 3s linear infinite;
  }
  main::before {
    background: url(../images/mask-desktop.svg) no-repeat center/cover;
    width: 358px;
    min-height: 540px;
    /*animation: slideDown 2s;*/
    animation: none;
    z-index: var(--z2);
    border-radius: 6px;
  }
  .cordao {
    position: absolute;
    background: url(../images/cordao.svg) no-repeat center/cover;
    top: 0;
    width: 80px;
    height: 164px;
    z-index: var(--z3);
  }
  .container {
    max-width: 260px;
  }
  .avatar {
    margin: 4.5rem auto 1.5rem;
    z-index: var(--z2);
  }
  p {
    margin-bottom: var(--mb2-5);
  }
}
